<div class="dropdown notification-dropdown">
  <div class="button" class="btn btn-default dropdown-toggle notification" data-toggle='dropdown'  aria-haspopup= true, aria-expanded= true>
    <i class="fa fa-globe fa-lg"></i>
      <% if current_user.notifications.where(read: false).count != 0 %>
        <span class="button__badge">
          <%= current_user.notifications.where(read: false).count %>
        </span>
      <% end %>
  </div>
  <ul class="dropdown-menu" aria-labelledby='dropdownMenu1'>
    <li class="dropdown-header text-center">
      Notifications<hr style="margin: 5px 0">
      <%= render current_user.notifications.order('created_at DESC').where(read: false).last(5) %>
    </li>
    <li class="text-center">
      <%= link_to 'View All', notifications_path %>
    </li>
  </ul>
</div>
