<div class="dropdown notification-dropdown">
  <button class="btn btn-default dropdown-toggle" data-toggle='dropdown'  aria-haspopup= true, aria-expanded= true>
    <span class="glyphicon glyphicon-flag">
      <%= current_user.notifications.count %>
    </span>
  </button>
  <ul class="dropdown-menu" aria-labelledby='dropdownMenu1'>
    <li class="dropdown-header text-center">
      Notifications
      <%= render current_user.notifications.order('created_at DESC').where(read: false).last(5) %>
    </li>
    <li class="text-center">
      <%= link_to 'View All', notifications_path %>
    </li>
  </ul>
</div>
