<div class="container userss" style="min-height: 95vh">                 
<% provide(:title, @title) %>
<div class="row">
  <!--<aside class="col-md-4">-->
    <!--<section class="user_info">-->
      <!--<= image_tag @user.avatar %>-->
      <!--<h1><= @user.name %></h1>-->
      <!--<span><= link_to "view my profile", @user %></span>-->
      <!--<span><b>foods:</b> <= @user.foods.count %></span>-->
    <!--</section>-->
    <!--<section class="stats">-->
      <!--<= render 'shared/stats' %>-->
    <!--</section>-->
  <!--</aside>-->
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
          <br>
            <%= image_tag user.avatar,
              onerror: "this.src='http://i.imgur.com/qBkFZxB.jpg';" %>
            <%= link_to user.username, user_path(user) %>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
</div>
<style>
  img {
    width: 50px;
    height: 50px;
  }
</style>
