<div class="section user-site">
  <br><br><br>
  <div id="pagination" class="apple-pagination">
    <%= paginate @foods, remote: true %>
  </div>
  <div id="foods">
    <%= render "foods" %>
  </div>
  <br>
</div>
