<div class= "section">
  <div class= "col-sm-8 col-sm-offset-2 col-xs-12 view">
    <br>
    <% flash.each do |key, value| %>
      <div class="flash-message <%= key %>">
        <%= value %>
      </div>
    <% end %>
    <%= render @food %>
  </div>
</div>
<style>
  body {
    background: #36465D;
    color: white !important;
  }
  form {
    width: 94%;
    margin-top: 18px;
    float: right;
  }
  img {
    width: 500px;
    height: auto;
  }
</style>
