<div class="user-site">
  <div class= "section col-sm-10 col-sm-offset-1 col-xs-12">
    <div class= "col-xs-12 view">
      <br>
      <% flash.each do |key, value| %>
        <div class="flash-message <%= key %>">
          <%= value %>
        </div>
      <% end %>
      <%= render @food %>
    </div>
  </div>
</div>

<style>
  body {
    background: #F2F2F2;
    color: white !important;
  }
  form {
    width: 94%;
    margin-top: 18px;
    float: right;
  }
  img {
    width: 500px;
    height: auto;
  }
</style>
