<div class="section user-site">
  <br><br><br>
  <div id="pagination" class="apple-pagination">
    <%= paginate @foods, remote: true %>
  </div>
  <h2 style="color: saddlebrown">All foods in "<%= params[:tag] %>"</h2>
  <div id="foods col-xs-12">
    <%= render "foods" %>
  </div>
  <br>
</div>
s