@import 'bootstrap-sprockets';
@import 'bootstrap';
$orangered: #ff4500;
$spectra: #2f4f4f;
$caribbean-green: #05bba5;
$light-green: #0ac986;
$bitter: #8f8f81;
$alabaster: #f9f9f9;
$white: #fff;
$geyser: #c9dadd;
$dove-gray: #666;
$meadow: #22be5c;
$shamrock: #32c6a1;
$pink: #dd7e89;
$red: #f00;
$salem: #0ba73e;
$jellybean: #2a8797;
$black: #000;
$hippie-green: #468847;
$dark-red: #8b0000;
$blue: #00f;
$cerulean: #0a93cc;
$silver: #bdbdbd;
$tundora: #4c4a4a;
$gallery: #eaeaea;
$alto: #dadada;
$light-grey: #f0f0f0;
$grey: #ededed;
$silver-chalice: #afaeae;
$light-blue: #98bcdf;
$gray-dark: #444;
$mexican-red: #a41f35;
$scorpion: #5f5b5b;
$alabaster: #fafafa;
$mystic: #e1e8ed;
$abbey: #595a5d;
$sushi: #82b440;
$dark-sushi: #6f9a37;
$green-sushi: #7aa93c;
$boulder: #787878;
$emperor: #545454;
$bondi-blue: #0084b4;
$dark-salem: #0a6f42;
$cornflower-blue: #6495ed;
$wild-sand: #f4f4f4;
$cucumber: #89b556;
$gray-light: #eee;
$mercury: #e3e3e3;
$light-alabaster: #fcfcfc;
$gray: #919191;
$carrot: #f9993e;
$dark-blue: #24297f;
$grape: #4a1951;
$east-bay: #4d508e;
$cardinal: #d11f25;
$jelly-blue: #2d97a7;
$yellow: #ff0;
$golden: #e6c600;
$golden-dark: #b89d00;
$alto: #ddd;
$dark-silver: #aaa;
$dark-white: rgba(246, 229, 209, .3);
$martini: rgba(180, 160, 160, .3);
$black-opacity: rgba(0, 0, 0, .2);
$gray-opacity: rgba(84, 84, 84, .89);
$gray-darked: rgba(100, 96, 99, 0);
$gray-darked2: rgba(100, 96, 99, 0.85);
$white-light: rgba(251, 251, 255, .86);
$blossom: rgba(255, 134, 147, .65);
$dark-blossom: rgba(188, 114, 113, .66);
$brick: rgba(155, 34, 45, .93);
$spring-green: rgba(36, 255, 109, .75);
$bermuda: rgba(137, 222, 200, .76);
$pelorous: rgba(54, 178, 194, .71);
$pelorous-opacity: rgba(54, 178, 194, .91);
$black-light: rgba(0, 0, 0, .25);
$grey-opacity: rgba(119, 119, 119, .58);
$blue-opacity: rgba(44, 76, 134, .68);
$grey-black: rgba(0, 0, 0, 0);
$black-like: rgba(0, 0, 0, .6);
$black-haft: rgba(0, 0, 0, .5);
$black-dark: rgba(0, 0, 0, .8);
$fiord: rgba(70, 75, 110, .247059);
$admin-background: rgba(185, 176, 176, .2);
$slide-link: #07a6f5;
$form-background: rgba(253, 255, 255, .7);
$btn-color1: #41deb6;
$form-control-color: #23ffd0;
$outside-ground: rgba(168, 129, 110, 0.82);
$inside-ground: rgba(199, 194, 155, 0.93);

#wrap {
  margin: 0 auto 30px;
}

#regbar {
  height: 67px;
  background: #34495e;
}

#navthing {
  margin-left: 50px;
}

h2 {
  padding: 20px;
  color: #ecf0f1;
}

fieldset {
  border: none;
}

.login {
  position: relative;
  width: 350px;
  display: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  left: 10%;
  position: absolute;
  top: -10px;
}

.formholder {
  background: rgba(9, 94, 115, 0.5);
  border-radius: 5px;
  padding-top: 5px;
  margin-top:120px;
  margin-bottom: 120px;
  h1 {
    text-transform: uppercase;
    font-size: 40px !important;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
  }
}
.formholder input[type="email"],
.formholder input[type="password"],
.formholder input[type="text"] {
  padding: 7px 5px;
  margin: 10px 0;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"],
.formholder input[type="reset"] {
  background: #4670bc;
  padding: 10px;
  font-size: 20px;
  display: block;
  border: none;
  color: #fff;
  border-radius: 5px;
  width: 96%;
}
.formholder input[type="reset"] {
  background: #bc120e;
  padding: 10px;
  font-size: 20px;
  display: block;
  border: none;
  color: #fff;
  border-radius: 5px;
  width: 96%;
}
.formholder input[type="submit"]:hover {
  background: #8185c6;
}

.randompad {
  padding: 70px;
}

.green {
  color: #1abc9c;
}

a {
  color: #ecf0f1;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  background-position: center center;
  background-repeat: no-repeat;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.feature-thumb {
  background: url('https://goo.gl/Tno2uj');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.animated.faded {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: fading, bounce;
}

@keyframes fading {
  from,
  to {
    color: $orangered;
  }

  50% {
    color: $spectra;
  }
}

@keyframes bounce {
  0%, 8%, 22%, 32%, to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: translateZ(0);
  }

  16%, 18% {
    transform: translate3d(0, -30px, 0);
  }

  16%, 18%, 28% {
    animation-timing-function: cubic-bezier(.755, .05, .855, .06);
  }

  28% {
    transform: translate3d(0, -15px, 0);
  }

  35% {
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

.nav.navbar-nav.navbar-right li a:hover {
  color: $caribbean-green;
}

#brand {
  font-family: Ubuntu;
  font-style: italic;
  font-weight: bolder;
}

#top {
  animation-duration: .6s;
  animation-name: fadeInDown;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#top2 {
  height:100vh;
  position: absolute;
  width: 100%;
  display: block;
  color: rgb(255, 255, 255);
  //background: rgba(181, 167, 152, 0.82);
  z-index: 2;
  overflow-y: auto;
}

.navbar {
  box-shadow: 0 4px 6px $bitter;
  height: 5vh;
  margin-bottom: 1px;
  position: fixed;
  width: 100%;
}

.fit {
  max-width: 100%;
}

.center {
  display: block;
  margin: auto;
}

img.actived {
  display: block;
}

img.inactived {
  display: none;
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    color: $orangered;
  }

  0% {
    color: $orangered;
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    color: $orangered;
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    color: $orangered;
    opacity: 1;
    transform: scaleX(1);
  }
}

#brand:hover {
  animation-duration: 1.75s;
  animation-fill-mode: both;
  animation-iteration-count: 2;
  animation-name: bounceIn;
}

.dpdwn {
  ul {
    display: none;
  }
}

.dpdwn:hover ul {
  animation-delay: .1s;
  animation-name: fadeIn;
  background-color: $alabaster;
  box-shadow: 0 8px 16px 0 $black-opacity;
  display: inline-block;
  list-style-type: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;

  li a {
    color: $gray-opacity;
  }
}

#admin {
  margin-left: -30px;
  margin-right: -30px;

  a {
    color: $gray-darked;
  }
}

#admin:hover {
  background: url('https://cdn4.iconfinder.com/data/icons/gray-user-management/512/computer-512.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25%;
  display: inline;
}

#login {
  background: url("http://i.imgur.com/brRS1Vl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(.4px);
  min-height: 100vh;
}

.login-form {
  animation: fadeIn 2.5s;
  background: $white-light;
  left: 0;
  margin: auto;
  max-height: 90vh;
  border-radius: 4px;
  overflow: auto;
  padding: 20px 15px;
  position: absolute;
  right: 0;
  top: 52%;
  transform: translateY(-50%);
  width: 500px;
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}

.form-control {
  background: $white;
  border: 2px solid $geyser;
  border-radius: 4px;
  color: $dove-gray;
  height: 50px;
  padding: 5px 7px 5px 15px;
  width: 100%;
}

.log-btn {
  background: $golden;
  border: 1px solid $golden-dark;
  border-radius: 4px;
  color: $white;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  margin-top: 10px;
  text-decoration: none;
  width: 100%;
}

.log-btn-2 {
  background: $light-green;
  border: 1px solid $green-sushi;
  border-radius: 4px;
  color: $white;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  margin-top: 10px;
  text-decoration: none;
}

.log-btn:hover {
  background: $golden;
}

.btn2 {
  background: #0a922d  !important
}

.link {
  color: $shamrock;
  float: right;
  font-size: 12px;
  margin-bottom: 15px;
  text-decoration: none;
}

.link:hover {
  color: $pink;
  text-decoration: double;
}

.alert {
  color: $red;
  display: none;
  float: left;
  font-size: 12px;
}

.error,
.alert,
.notice,
.info,
.danger {
  background: $blossom;
  border: 1px solid $dark-blossom;
  border-radius: 5px;
  color: $brick;
  padding: 8px;
  font-size: 15px;
}

.success {
  background: $blossom;
  border: $spring-green;
  border-radius: 5px;
  color: $salem;
  padding: 8px;
  font-size: 15px;
}

#admin-show {
  animation-duration: 1.5s;
  animation-name: fadeInDown;
  background: url('http://i.imgur.com/brRS1Vl.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(.4px);
  height: 100vh;
}

.profile {
  background: $bermuda;
  border-radius: 4px;
  color: $white;
  font-size: 20px;
  left: 0;
  margin: 20px 20px 40px;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  top: 11%;
  transform: translateY(-50%);
}

.edit-pass {
  background: $pelorous;
  border: 1px solid $jelly-blue;
  border-radius: 5px;
  color: $white;
  margin-bottom: 5px;
  padding: 5px 20px;
  text-align: center;
}

.edit-pass:hover {
  background: $pelorous-opacity;
  border: 1px solid $jellybean;
}

.flash-notice {
  border-radius: 4px;
  display: block;
  left: 0;
  margin: auto;
  padding: 20px 15px;
  position: absolute;
  right: 0;
  top: 22%;
  transform: translateY(-50%);
  width: 550px;
}

.edit-pass-content-show {
  display: block;
}

.edit-pass-content-hide {
  display: none;
}

.choose {
  label {
    color: $black;
    font-size: 16px;
  }
}

.section {
  color: $black;
  min-height: 95vh;
  overflow-y: auto;

  h1 {
    font-size: 30px;
    letter-spacing: 2px;
    padding-top: 20px;
  }
}

.form-label {
  font-size: 20px !important;
  font-family: Serif;
  font-variant: small-caps;
  color: $white;
  padding: 2px;
}

.form-control {
  background: $white;
  border: 2px solid $geyser;
  border-radius: 4px;
  color: $dove-gray;
  height: 50px;
  padding: 5px 7px 5px 15px;
  width: 100%;
  font-size: 18px;
  background: $white;
}

.delete {
  background: red !important;
}

$primary: #2196F3;

.login-bg {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: url("https://thatcleanlife-blog.s3.amazonaws.com/2016/Jun/foodphotography-1466540326358.jpg") fixed;
  background-position: top 70% left;
  background-size: cover;
}

.edit-food {
  background: url(http://blog.asurion.com/wp-content/uploads/2016/11/iStock_83585783_MEDIUM.jpg) top center;
  background-size: cover;
  height: 100vh;
}

@keyframes spinner {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(359deg); }
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50%;
  background: rgba(4, 40, 68, 0.59);
  margin-top: 120px;
  margin-bottom:120px;
  padding-top: 0;

  h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
  }
}


.login2 {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  background: #ffffff;
  position: relative;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);

  &.loading {
    button {
      max-height: 100%;
      padding-top: 50px;
      .spinner {
        opacity: 1;
        top: 40%;
      }
    }
  }

  &.ok {
    button {
      background-color: #8bc34a;
      .spinner{
        border-radius: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        height: 20px;
        animation: none;
        transform: rotateZ(-45deg);
      }
    }
  }

  input {
    padding: 15px 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: #ccc;

    &+ i.fa {
      color: #fff;
      font-size: 1em;
      position: absolute;
      margin-top: -47px;
      opacity: 0;
      left: 0;
      transition: all 0.1s ease-in;
    }

    &:focus {
      &+ i.fa {
        opacity: 1;
        left: 30px;
        transition: all 0.25s ease-out;
      }
      outline: none;
      color: #444;
      border-color: $primary;
      border-left-width: 35px;
    }

  }

  [type=submit] {
    color: white;
    font-size: 16px;
    font-weight: 700 !important;
    width: 100% !important;
  }

  a {
    font-size: 0.8em;
    color: $primary;
    text-decoration: none;
  }

  .title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

  button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: $primary;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);

    transition: all 0.1s ease-out;
    border-bottom-width: 7px;

    .spinner {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      border: 4px solid #ffffff;
      border-top-color: rgba(255,255,255,0.3);
      border-radius: 100%;
      left: 50%;
      top: 0;
      opacity: 0;
      margin-left: -20px;
      margin-top: -20px;
      animation: spinner 0.6s infinite linear;
      transition: top 0.3s 0.3s ease,
      opacity 0.3s 0.3s ease,
      border-radius 0.3s ease;
      box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    }

  }

  &:not(.loading) button:hover {
    box-shadow: 0px 1px 3px $primary;
  }
  &:not(.loading) button:focus {
    border-bottom-width: 4px;
  }


}

footer {
  display: block;
  padding-top: 50px;
  text-align: center;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
  font-size: 0.8em;
  a, a:link {
    color: #fff;
    text-decoration: none;
  }
}

.p-link, .p-link2 {
  display: inline;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
  color: white !important;
  a {
    color: yellow;
  }
}

.p-link2 {
  margin-top: -10px;
  font-size: 16px;
  a {
    color: greenyellow;
  }
}

.btn-reg {
  background: #3a8b4d !important;
  width: 100% !important;
}

.btn-reg:hover {
  background: greenyellow !important;
}

.overlay {
  display: block;
  background: grey;
  color: white;
  height: 91%;
  left: 10%;
  position: absolute;
  top: 5%;
  transition: background .5s ease;
  width: 80%;
}

.slide {
  position: relative;
}
.slide:hover .overlay {
  background: rgba(0, 0, 0, .6);
  display: block;
}

._dsvln {
  margin-top: 13px;
}
._jveic {
  min-height: 68px;
}
._jveic {
  align-items: center;
  border-top: 1px solid #efefef;
  flex-direction: row;
  justify-content: center;
}
._ixow7, ._jveic {
  flex-shrink: 0;
}
._ebwb5 {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: -9px;
  margin-right: 3px;
}
._1tv0k {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
}
._k3t69 {
  color: #999;
  flex-shrink: 1;
  flex-grow: 1;
}
._7uiwk {
  background: 0 0;
  border: none;
  color: #262626;
  font-size: 15px;
  line-height: 18px;
  outline: none;
  width: 100%;
}
._qy55y {
  -webkit-appearance: none;
}
._soakw {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.favourite2 i {
  position: absolute;
  font-size: 40px;
  color: red;
  margin-left: 80%;
  margin-top: 10%;
}
.description {
  position: absolute;
  font-size: 24px;
  left: 5%;
  top: 80%;
  font-weight: 700;
  a {
    color: yellow !important;
  }
}
.downloads {
  position: absolute;
  font-size: 16px;
  color: white;
  left: 5%;
  top: 90%;
}
.favourite-count {
  position: absolute;
  font-size: 16px;
  color: white;
  left: 35%;
  top: 90%;
}
.date {
  position: absolute;
  font-size: 16px;
  color: white;
  left: 70%;
  top: 90%;
}
.container2 {
  position: relative;
  margin: 0 10px;
  width: 100%;
  height: 300px;
}

.overlay {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  color: #FFF;
  background: rgba(2, 1, 6, 0.61);
  transition: background 0.5s ease;
}

.item img {
  /*position: relative;*/
  width: 100%;
  height: 300px;
  left: 0;
}

.upload {
  label {
    font-size: 24px !important;
    font-family: Serif;
    font-variant: small-caps;
    color: $yellow !important;
    padding: 2px;
  }
  [type=submit] {
    background: green !important;
    width: 100% !important;
  }
  [type=submit]:hover {
    background: greenyellow !important;
  }
  .has-error {
    font-size: 18px;
    font-weight: 700;
  }
}

//home page
.uk-grid > * > :last-child {
  margin-bottom: 0;
}
.uk-text-center {
  text-align: center !important;
}
.uk-panel, .uk-panel:hover {
  text-decoration: none;
}
.uk-panel {
  display: block;
  position: relative;
}
.uk-text-center .uk-module-title-alt {
  display: inline-block;
}
.uk-module-title-alt {
  position: relative;
  display: table;
}

[class*='uk-width'] {
  box-sizing: border-box;
  width: 100%;
}

.uk-grid > * {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  margin: 0;
  float: left;
}

.uk-margin-small{
  margin-bottom: 5px;
  height: 60px;
  vertical-align: center;
}

.uk-margin-small a {
  color: #aea512 !important;
  font-size: 28px;
  font-weight: 600;
}
.tm-rating {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px;
}
.tm-rating li {
  color: #fd8e18;
  padding-right: 1px;
  display: inline-block;
  line-height: 20px;
}

[class*='uk-icon-'] {
  font-family: FontAwesome;
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tm-price {
  color: red;
  font-weight: 600;
  font-size: 26px;
  margin: 30px 0;
}

.uk-block-default {
  background: #ffffff;
}

.uk-block {
  box-sizing: border-box;
  margin-top: -150px;
  position: relative;
  //padding-top: 40px;
  //padding-bottom: 40px;
  //min-height: 80vh;
  //margin-bottom: 50px;
}

.uk-block > :last-child {
  margin-bottom: 0;
}

.uk-container-center {
  margin-left: auto;
  margin-right: auto;
}

.uk-container {
  box-sizing: border-box;
  width: 100%;
  padding: 0 25px;
  position: relative;
  display: block;
}
[data-uk-scrollspy*='uk-animation-']:not([data-uk-scrollspy*='target']) {
  opacity: 0;
}
.uk-block {
  display: block;
}
.uk-width-medium-1-4 {
  width: 25%;
}
.hot-dish {
  width: 180px !important;
  height: 150px !important;
  margin-bottom: 10px;
}

.uk-width-1-1 {
  width: 100%;
}
.uk-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -10px;
  padding: 0;
}

.uk-width-1-1 {
  width: 100%;
}

.uk-text-left {
  text-align: left !important;
}

.tm-overlay-secondary {
  background-color: rgba(70, 75, 110, .247059);
}

.uk-module-title-alt {
  display: table;
  position: relative;
}

.uk-text-left .uk-module-title-alt {
  display: inline-block;
}

.uk-panel {
  display: block;
  position: relative;
}

.uk-panel,
.uk-panel:hover {
  text-decoration: none;
}

.uk-flex {
  display: flex;
}

.uk-flex-middle {
  align-items: center;
}

.tm-header-height {
  height: 95vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.tm-header-height:hover .uk-cover-background {
  transform: scale(1.2);
}

.uk-cover-background {
  background: url('https://drive.google.com/uc?id=0B9VYzD5V43juYzlHRjZSVnM4eFU') no-repeat center center;
  background-size: cover;
  height: 100%;
  position: absolute;
  transition: all .5s;
  width: 100%;
}

.uk-overlay {
  background-color: black;
  height: 100%;
  left: 0;
  opacity: .5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.uk-container {
  box-sizing: border-box;
  float: left;
  position: absolute;
  z-index: 20;
}

.apple-pagination {
  cursor: default;
  font-size: 18px;
  font-weight: 200;
  text-align: center;

  a,
  span {
    padding: 0 2px;
  }

  .disabled {
    color: $dark-silver;
  }

  .current {
    background-color: $cornflower-blue;
    border-radius: 1em;
    color: $white;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    height: 2em;
    padding-top: 5px;
    width: 2em;
  }

  a {
    color: $cornflower-blue;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

.carousel {
  width: 94% !important;
  margin-left: 3%;
}
.carousel2 {
  width: 94% !important;
  margin-left: 3%;
}

.item {
  width: 95%;
}

.home-list-title span.star {
  display: inline-block;
  background: url(http://animetvn.com/img/start.png) no-repeat;
  width: 17px;
  height: 17px;
  background-size: 16px auto;
}
.home-film-list-view-more {
  right: 50px;
  display: inline-block;
  color: black;
  text-decoration: underline;
  font-size: 18px;
}
.home-list-title {
  margin: 0;
  text-align: center;
  color: #fff;
  background-color: #00665d;
  padding: 8px 0;
  font-weight: 300;
  font-family: "Khand";
}

.item2 img {
  width: 100%;
  height: 300px;
  left: 0;
}

.pj-form-field {
  background-color: #fff;
  border: solid 1px #c9d1da;
  border-radius: 3px;
  box-shadow: inset 1px 1px 1px #eeeff0;
  font: normal 16px Verdana, sans-serif;
  font-family: Verdana !important;
  padding: 7px 6px;
}

.pj-form-field [type=text] {
  height: 14px;
  padding: 7px 6px;
  margin-top: 5px;
}

.w180 {
  width: 63%;
}
