<div class="navbar navbar-default navbar-static-top animated fadeInDownBig"
data-wow-delay="0.1s" role="navigation">
<div class="container">
  <div class="navbar-header">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon icon-bar"></span>
      <span class="icon icon-bar"></span>
      <span class="icon icon-bar"></span>
    </button>
    <%= link_to "AwesomeVn", root_path , id: "brand", class: "navbar-brand animated faded",
    "data-wow-delay": "0.3s", method: :get %>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <%= render "layouts/menu_user" %>
      <% else %>
      <%= render "layouts/menu_guest" %>
      <% end %>
    </ul>

    <form class="navbar-form navbar-right">
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input type="text" class="form-control input-lg" placeholder="Search.." />
          <span class="input-group-btn">
            <button class="btn btn-info btn-lg" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
        </div>
      </div>
    </form>

  </div>
</div>
</div>